<%- include('./partials/head') %>
<div class="container">
  <article class="card">
      <div class="front">
        <div class="turning-arrow">
          <button class="button-turning"><img src="/images/draai-pijltje.svg" alt="draaipijltje"></button>
        </div>
        
        <img class="white-drawing" src="/images/drawing1.svg" alt="witte flowy lijn">
        <header>
            <h1 id="my-name"> <%- name %>  <%- surname %></h1>
            <p>
              Hva Student
            </p>
        </header>
        <section class="figure">
         <div class="bovenste">
        
         </div>
        </section>
      </div>
   
      <div class="back">
        <div class="turning-arrow">
          <button class="button-turning"><img src="/images/draai-pijltje.svg" alt="draaipijltje"></button>
        </div>
        <section>
          <h1 id="aboutme-title">About me </h1>
          <p class="text-bio"><%- bio %></p>
        </section>
        <section>
          <div class="mail-icon"> 
            <a href="mailto:rukiya.tossou@hva.nl"></a>
          </div>
         
          <div class="github-icon">
            <a href="https://github.com/RukiyaTossou" title=""></a>
          </div>
        </section>   
  </article>

</div>
<%- include('./partials/foot') %>